/*Estilos generales*/

@font-face {
  font-family: regular;
  src: url(../font/ProximaNova-Regular.woff);
  font-weight:regular;
}

@font-face {
  font-family: light;
  src: url(../font/ProximaNova-Light.otf);
  font-weight:light;
}

*{
        padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /*para que el padding o el boder no afecte el anncho de los elementos */
 
}

body{
   font-size: 16px;
font-family: light;
       background-color: #F6F6F6;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: .3s;
}

a:hover{
 color: #C84600;
    }

h1{
    margin-bottom: .8em;
}
/*Estilos generales ACABA*/

/*MENU EMPIEZA*/
#menu{

    display: flex;
    flex-direction: column;
     width: 100%;
    height: 80px;
    position: absolute;
    background: none;

    z-index: 5;
     transition: .3s;
   
    
}

.logo{
    display: none;
}

.logo-mobile{
    display: flex;
 justify-content:  center;
    width: 100%;


}

.logo-mobile img{
width: 80px;
    padding: 10px;
}

/*Verticales Empieza*/

.correo{
  
    width: 100%;

    display: flex;


   justify-content: center;
   

    
}

.correo p{

    color: #C84600;
   font-size: 1.1em;
}

.redes{
    width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: center;
 
     top: 0px;
    
}

.redes i{
    margin: 15px;
   
    font-size: 1.1em;
}

/*Verticales Acaba*/

    /*......................Empieza El HOME*/

/*Intro EMPIEZA*/

.intro{
    width: 100%;
    display: flex;
}
.intro .foto {
 



    display: flex;
    margin: auto;
    align-items: center;
    justify-content:space-around;
    align-content: center;
}
.ojos{
    
    display: flex;
 justify-content: center;
    align-items: center;

    height: 100vh;
  position: absolute;

width: 300px;

  text-align: center;
    margin-top: 27px;
  
}

.ojo{
  width: 45px;
  height: 35px;


  margin: 17px;
  border-radius: 50px;
    margin-top: 12px;
  position: relative;
    background-position: center;
    background-size: cover;
background-image: url(../jpg/eye-36.png);
    
}
    
    .bola{
  width: 20px;
  height: 20px;
  margin-top: 9px;
     margin-left: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50px;
 
}
    
.flecha{
width: 100%;
height: 490px;
position: absolute;
    
display: flex;
align-items: flex-end;
justify-content: center;


}

.flecha img{
    width: 20px;
 transition: .3s;
    cursor: pointer;
}

.flecha img:hover img{
filter: blur(3);
 
}

/*Intro acaba*/



/*Proyectos Empieza*/


.proyectos{

    width: 100%;

}

.container{
    width: 90%;
    margin: auto;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proyecto{
    width: 50%;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.proyecto img:hover{
border: 1px solid #C84600;
    transform: scale(0.95);
    transition: .5s;
}

.texto{
   margin-top: 10px;
}

.proyecto h2{
    font-size: 1.4em;
    font-weight: 200;
}

.proyecto h3{
    font-size: 1em;
    color: #C84600;
    font-family: light;
}


/*Proyectos Acaba*/

/*FOOTER Empieza*/

footer{
    width: 100%;
    height: 130px;
    background-color: #E8E2E2;
    display: flex;
    flex-direction: column;
   justify-content: center;
  align-items: center;

}

footer .logo-footer{
    display: flex;
 align-items: center;

    margin: 10px 0;
}

footer .logo-footer img{
  width: 50px;
}

.texto-footer h3{
font-size: .8em;
    text-align: center;
    margin-bottom: .4em;
    color: #C84600;
}

.texto-footer p{
font-size: .7em;
    text-align: center;
}

/*FOOTER Acaba*/


    /*......................Acaba El HOME*/







    /*......................Empiezan Los proyectos*/


.contenido-proyecto .container .concepto{
    margin-top: 180px;
margin-bottom: 50px;

    width: 100%;

}

.contenido-proyecto .container .texto{
    margin: 50px 0;
}

.contenido-proyecto .container img{
    margin: 20px 0;
}

.contenido-proyecto .container .concepto p{
    margin-bottom: 10px;
     width: 100%;
}

.fotos-proyecto img{
    margin: 20px 0 20px 0;
}

.next-proyect{
    width: 80%;
    height: 100px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;


    border: 1px solid #C84600;
  
    transition: .5s;
    margin: 50px auto;
   
}

.next-proyect h2{
    text-align: center;
    text-decoration:inherit;
    color: #C84600;
    margin-right: 10px;
    font-size: 2em;
}

.flecha-rigth{
    display: flex;
       color: #C84600;
    justify-content: center;
}
   
.next-proyect:hover{
      transform: scale(0.95);
   background: #EFEDED;
}
/*......Empieza audiovisual*/

.video{
display: flex;
    width: 100%;

}

.fotos-proyecto .texto{
     display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    width: 100%;  
}



    /*......acaba audiovisual*/





 /* -------------------------------EMPIEZA MOTION-------------------------- */ 
                  
.motion-gallery{
    width: 100%;
 display: flex;
    flex-direction: row;
    justify-content: center;
flex-wrap: wrap;
                  }                     
                  

.unidad{

display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;

       width: 40%;
    margin: 10px 10px;
  
  
}

.unidad p{
    margin-top: 40px;
}
    

    
 /*...................... celuco */

@media(max-width:768px) {

  
  .intro .foto {
 
    width: 100%;
    height:500px;
    background-position:center;
    background-size: cover; 
  background-image: url("../jpg/inicio-36.jpg");
}
    /*......................Empieza intro 


    
.intro .foto-mobile {
   
  height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover; 
    background-image: url("../jpg/inicio-mobile.jpg");
    display: flex;
    margin: auto;
        align-items: center;
    justify-content:space-around;
    align-content: center;
}

*/
    

    

    


  
    
}

 /*...................... Desktop */
@media(min-width:768px) {
     /*......................Empieza logo*/
        .logo{
    display: flex;
 justify-content:  flex-start;
    align-items: center;
 width: 30%;

}
    
.logo-mobile{
    display: none;


}
    
.logo img{
width: 180px;
    padding: 40px;;
}
    
        /*......................Acaba logo*/ 
    
    
    /*......................Empieza intro*/
    
    .flecha{

height: 690px;
    }



  .intro .foto {
 
height: 700px;
width:100%;
    background-position:center;
    background-size: cover; 
    background-image: url("../jpg/inicio-37.jpg");

}
    
  
      /*......................Acaba intro*/
    
    
        /*Verticales Empieza*/

.correo{
  
    width: 10%;
    height: 100vh;
    
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    left: -115px;
}

.correo p{
       transform: rotate(270deg);
    color: #C84600;

}

.redes{
    width: 10%;
    height: 100vh;
   z-index: 10000;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
     right: -20px;
    
}

.redes i{
    margin: 10px;
    margin-right: 40px;

}

/*Verticales Acaba*/

         /*......................Empieza proyectos */
    
    .proyecto{

    padding: 50px;
    }
    
       /*......................Acaba proyectos*/  
    
 
        /*......................Empieza proyecto especifico */
    
    
     /*......................Empieza Rutina */
          .unidad{

   width: 25%;
    margin: 20px 20px;
    
  
}
         /*......................AcaRutina */
   .fotos-proyecto{
         width: 100%;  
            width: 100%;
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    }  
 .video{

    width: 50%;
    margin: 10px 0;
}
.contenido-proyecto .container .texto{
    width: 50%;
 
    margin-top: 50px;


}
}
 
 /*...................... Desktop */




